.post {
  margin-bottom: 50px;

  h1, h2, h3 {
    font-size: 14px;
    font-weight: bold;
    color: $main-color;
    border-bottom: solid 1px $border-color;
    padding-bottom: 10px;

    a {
      font-size: 14px;
      font-weight: bold;
      color: $main-color;
    }

  }

  header {
    font-size: 12px;
    color: $main-color;

    span {
      margin-right: 5px;
    }
  }
}


.post-list {

}

@media (min-width: $sm) {
  .post-list {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 1fr;

    .post {
      margin-bottom: 0;
    }
  }
}
