.post-list {
  display: grid;
  grid-template-rows: repeat(5, 1fr) auto;
  grid-template-columns: 1fr 1fr;

  nav.page {
    grid-row: 6;
    grid-column: 1 / -1;

    ul {
      list-style-type: none;
      padding: 0;

      li {
        float: left;
        margin-top: 5px;
        margin-right: 40px;

        span {
          background-color: #dddddd;
          display: block;
          padding: 3px 6px;
          font-size: 20px;
        }

        a {
          display: block;
          padding: 3px 6px;
          font-size: 20px;
        }

      }
    }
  }
}

.post {
  h1, h2, h3 {
    line-height: 1;
    font-size: 12px;
    font-weight: normal;
  }

  h1 > a, h2 > a, h3 > a {
    line-height: 1;
    font-size: 12px;
    font-weight: normal;
  }

  time {
    display: block;
    font-size: 10px;
    color: #888;
    margin-top: 1em;
    line-height: 1;
  }

  ul.tags {
    margin-top: 1em;
    font-size: 10px;
    list-style: none;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    grid-column-gap: 10px;
    column-gap: 10px;
    color: #888;
    line-height: 1;
  }
}

@media (max-width: $sm) {
  .post-list {
    display: block;

    nav.page {
      ul {
        li {
          margin-top: 5px;
          margin-right: 20px;

          span {
            font-size: 12px;
          }

          a {
            font-size: 12px;
          }

        }
      }
    }
  }
  .post {
    margin-bottom: 50px;
  }
}