
.post {
  h1, h2, h3 {
    font-size: 18px;
    font-weight: normal;
    color: $main-color;
    line-height: 1;

    a {
      font-size: 18px;
      color: $main-color;
      font-weight: normal;
      line-height: 1;
    }

  }

  time {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: $accent-color-black;
    line-height: 1;
  }

  ul.tags {
    margin-top: 10px;
    list-style: none;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    grid-column-gap: 10px;
    column-gap: 10px;
    font-size: 14px;
    color: $accent-color-black;
    line-height: 1;
  }
}


.post-list {
  display: block;

  nav.page {
    ul {
      list-style-type: none;
      padding: 0;

      li {
        float: left;
        margin-top: 5px;
        margin-right: 40px;

        a {
          color: $main-color;
          font-size: 20px;
        }

        a.disable {
          color: #000;
          pointer-events: none;
        }

      }
    }
  }

  .post {
    margin-bottom: 50px;
  }

}

@media (min-width: $sm) {
  .post-list {
    display: grid;
    grid-template-rows: repeat(5, 1fr) auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    column-gap: 40px;

    nav.page {
      grid-row: 6;
      grid-column: 1 / -1;
    }
  }
}
