body {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-template-rows: [head] 30px 20px [main] 1fr 20px [foot] 30px;
  min-height: 100vh;

  nav#site-nav {
    grid-column: 2;
    grid-row: head;
    align-self: center;
    justify-self: start
  }

  ul#sns {
    grid-column: 2 / -2;
    grid-row: head;
    align-self: center;
    justify-self: end
  }

  #page-btn {
    grid-column: 1;
    grid-row: head;
    justify-self: start;
    align-self: center;
    position: sticky;
    top: 0;
  }

  .side {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50%;
    background-color: rgba($base-color, 0.9);
  }

  hr#side-bar {
    border: none;
  }

  .main {

    grid-column: 2;
    grid-row: main;
  }

  footer {
    grid-column: 2;
    grid-row: foot;
    align-self: center;
  }

  ul#out-link {
    grid-column: 2;
    grid-row: foot;
    align-self: center;
    justify-self: end;
  }

}

body.open > .side {
  display: block;
}

body::before {
  content: "";
  grid-row: head;
  grid-column: 1 / -1;
  z-index: -1;
  border-bottom: solid 1px $border-color;
}

body::after {
  content: "";
  grid-row: foot;
  grid-column: 1 / -1;
  border-top: solid 1px $border-color;
  z-index: -1;
}


@media (min-width: $pc) {
  body {
    grid-template-columns: [start] 0 [start-side] 40px [side] 246px [side-main] 40px [main] 1000px [other] 1fr [other-end] 40px [end] 0;

    nav#site-nav {
      grid-column: side / end;
      grid-row: head;
      align-self: center;
    }

    ul#sns {
      grid-column: main / other;
      grid-row: head;
      align-self: center;
      justify-self: end
    }

    .side {
      display: block;
      grid-column: side;
      grid-row: main;
      position: static;
      transform: none;
      width: auto;
    }

    hr#side-bar {
      grid-row: 2 / -2;
      grid-column: side-main;
      border: none;
      border-right: solid 1px $border-color;
      margin-right: 20px;
    }

    .main {
      grid-column: main;
      grid-row: main;
    }

    footer {
      grid-column: side / end;
      align-self: center;
    }

  }

}

@media(max-width: $sm) {

}