body {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-template-rows: [head] 30px [main] 1fr [foot] 30px;
  row-gap: 20px;
  grid-row-gap: 20px;
  min-height: 100vh;

  nav#site-nav {
    grid-column: 2;
    grid-row: head;
    align-self: center;
    justify-self: start
  }

  ul#sns {
    grid-column: 2;
    grid-row: head;
    align-self: center;
    justify-self: end
  }

  #page-btn {
    grid-column: 1;
    grid-row: head;
    justify-self: start;
    align-self: center;
    position: sticky;
    top: 0;
  }

  .side {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50%;
    padding: 20px;
    background-color: rgba($base-color, 0.9);
  }

  .main {
    grid-column: 2;
    grid-row: main;
  }

  footer {
    grid-column: 2;
    grid-row: foot;
    align-self: center;
  }

  ul#out-link {
    grid-column: 2;
    grid-row: foot;
    align-self: center;
    justify-self: end;
  }

}

body.open > .side {
  display: block;
}

body::before {
  content: "";
  grid-row: head;
  grid-column: 1 / -1;
  z-index: -1;
  border-bottom: solid 1px $border-color;
}

body::after {
  content: "";
  grid-row: foot;
  grid-column: 1 / -1;
  border-top: solid 1px $border-color;
  z-index: -1;
}


@media (min-width: $pc) {
  body {
    grid-template-columns: 0 306px 1000px 1fr 0;
    column-gap: 20px;
    grid-column-gap: 20px;

    nav#site-nav {
      grid-column: 2;
      grid-row: head;
      align-self: center;
      justify-self: start
    }

    ul#sns {
      grid-column: 3 / -2;
      grid-row: head;
      align-self: center;
      justify-self: end
    }

    .side {
      display: block;
      grid-column: 2;
      grid-row: main / -2;
      position: static;
      transform: none;
      width: auto;
    }

    .main {
      grid-column: 3;
      grid-row: main;
    }

    footer {
      align-self: center;
    }

    ul#out-link {
      grid-column: 3 / -2;
      grid-row: foot;
      align-self: center;
      justify-self: end;
    }

  }

}

@media(max-width: $sm) {

}