body > header {
    line-height: 1;
}

body > header > a {
    font-size: 60px;
    color: $main-color;
    font-family: 'Abril Fatface', cursive;
}

@media (max-width: $sm) {
    body > header > a {
        font-size: 30px;
    }
}
