body > header {
    text-align: center;
    padding: 20px;
}

body > header > a {
    font-size: 60px;
    color: $main-color;
    font-family: 'Abril Fatface', cursive;
}

@media (min-width: $pc) {
    body > header {
        padding: 40px 10px;
    }
}

/* 767px以下、スマートフォンサイズ */
@media (max-width: $sm) {
    body > header {
        padding: 20px;
    }
    body > header > a {
        font-size: 30px;
    }
}
