/* 記事やコメント欄、プレビューエリアの汎用的な設定 */
.markdown-body {

  h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
    color: $main-color;

    border-bottom: solid 5px $main-color;
    padding-bottom: 5px;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    color: $main-color;

    border-bottom: solid 1px $main-color;
    padding-bottom: 3px;
  }

  p {
    font-size: 16px;
    margin-top: 20px;
    line-height: 2;
  }

  ul, ol {
    li {
      p:first-child {
        font-weight: bold;
      }

      p:not(:first-child) {
        margin-top: 0;
      }
    }
  }

  blockquote {
    position: relative;
    margin: 2em 0;
    padding: 1em 1em 1em 2.6em;
    font-size: .9em;
    border-left: 5px solid $border-color;
    border-radius: 2px;
  }

  blockquote::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: '”';
    font-family: sans-serif;
    font-size: 6em;
    opacity: .1;
  }

}
