.page-btn-close {
    display: none;
}

.page-btn, .page-btn-close {
    border: none;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
}

body.open .page-btn {
    display: none;
}

body.open .page-btn-close {
    display: block;
}

@media (min-width: $pc) {
    .page-btn {
        display: none;
    }
}

