nav.page {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 20px;
  row-gap: 20px;

  a.prev {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid black;
  }

  a.next {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
  }
}

