/* SNSアイコン */
.fa-hatena:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold;
}

ul#sns {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;

  a {
    font-size: 12px;
    color: $base-color;
  }
}