@import "base";
@import "article-list";
@import "header";
@import "nav-btn";
@import "footer";
@import "form";
@import "markdown";
@import "base_layout";
@import "sns";


body {
  grid-template-rows: [head] auto [main] 1fr [ads] auto [relation-posts] auto [comment] auto [foot] auto;


  .side {
    > ul {
      padding: 0;
      a {
        color: #000;
      }

      a.current {
        background-color: $accent-color;
      }
    }
  }

  aside {
    h2 {
      grid-column: 1/-1;
      margin-bottom: 20px;
      align-self: end;
    }
  }

  aside#ads {
    grid-column: 2;
    grid-row: ads;
  }

  aside#relation-posts {
    grid-column: 2;
    grid-row: relation-posts;

  }

  aside#comment {
    grid-column: 2;
    grid-row: comment;

    p {
      margin-bottom: 20px;
    }

    .box {
      margin-top: 30px;
    }
  }

}


@media (min-width: $pc) {
  body {

    .side {
      > ul {
        position: sticky;
        top: 50px;
        font-size: 12px;
      }
    }

    .main {
      grid-column: 3;
      grid-row: main;
    }

    aside#relation-posts {
      grid-column: 3;
      grid-row: relation-posts;
    }

    aside#ads {
      grid-column: 3;
      grid-row: ads;
    }

    aside#comment {
      grid-column: 3;
      grid-row: comment;
    }

  }

}

