@import "base";
@import "header";
@import "nav-btn";
@import "footer";
@import "article-list";
@import "form";
@import "markdown";


body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  header {
    grid-column: 1;
    grid-row: 1;
  }

  .page-btn, .page-btn-close {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    align-self: start;
  }

  form#main {
    grid-column: 1;
    grid-row: 2;
    padding: 40px;
  }

  .markdownx-preview {
    grid-column: 1;
    grid-row: 2;
    padding: 40px;
    display: none;
  }

  #side {
    display: none;
    grid-column: 1;
    grid-row: 2;

    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;

    button#change-display {
      position: sticky;
      top: 100px;
    }
  }

  footer {
    grid-column: 1;
    grid-row: 3;
  }

  .button {
    color: #ffffff;
    border: solid 1px #ffffff;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: #A10000;
    width: 300px;
    box-sizing: border-box;

    /* a要素用の設定 */
    display: inline-block;
    text-decoration: none;
    text-align: center;

    /* button要素用の設定 */
    cursor: pointer;
  }

  .button:hover {
    background-color: #00B233;
    text-decoration: none;
    color: #fff;
  }
}

body.open #side {
  display: block;
}

body.preview form {
  display: none;
}

body.preview .markdownx-preview {
  display: block;
}

@media (min-width: $pc) {
  body {
    grid-template-columns: 366px 100px 900px;

    #side {
      width: 300px;
      margin: 0 auto;
      display: block;
    }

    form#main {
      grid-column: 3;
      grid-row: 1 / -1;
      padding: 40px 0 0 0;
    }

    .markdownx-preview {
      grid-column: 3;
      grid-row: 1 / -1;
      padding: 40px 0 0 0;
    }

  }

}
