@import "base";
@import "article-list";
@import "site-nav";
@import "nav-btn";
@import "footer";
@import "form";
@import "base_layout";
@import "sns";
@import "page";

body {
  grid-template-rows: [head] 40px [main] 1fr [page] auto  [foot] 40px;
    nav.page {
      grid-column: 2;
      grid-row: page;
    }

}

@media (min-width: $pc) {
  body {
    nav.page {
      grid-column: main;
    }
  }
}