@charset "UTF-8";
/* 変数 */
/* PC用ブレイクポイント */
/* スマホ用ブレイクポイント */
/* リンクの色 */
/* リンクのホバー色 */
/* コードの色 */
/* 共通設定 */
* {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  color: #1a0dab;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre, code {
  line-height: 1.5;
  white-space: pre-wrap;
}

/* ブログページ全体の基本設定とグリッド設定 */
body {
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* テキストの自動拡大を無効 */
  font-family: arial, sans-serif;
  /* font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif; */
}

/* お知らせ欄 */
#notify {
  opacity: 0;
  background-color: #14DC36;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #ffffff;
  -webkit-animation: fadein 7s linear;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* ボックス Bulmaのboxと同じ */
.box {
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  padding: 1.25rem;
}

/* タグ */
.tag {
  padding: 2px 2px;
  border: solid 1px #ddd;
  background-color: transparent;
  font-size: 10px;
  margin: 1px 5px 5px 0;
  display: inline-block;
}

/* タグの×閉じ部分 */
.close {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  position: relative;
  vertical-align: middle;
  width: 20px;
}

.close::before, .close::after {
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  background-color: #000000;
}

.close::before {
  height: 2px;
  width: 50%;
}

.close::after {
  height: 50%;
  width: 2px;
}

body > header > a {
  font-size: 30px;
  font-weight: bold;
  color: #000;
}

.page-btn-close {
  display: none;
}

.page-btn, .page-btn-close {
  border: none;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
}

body.open .page-btn {
  display: none;
}

body.open .page-btn-close {
  display: block;
}

@media (min-width: 1366px) {
  .page-btn {
    display: none;
  }
}
/* フッター */
body > footer {
  font-size: 12px;
}

body > footer > ul {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  column-gap: 20px;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}

body > footer > ul a {
  font-size: 12px;
  color: #000;
}

body > footer > p {
  text-align: center;
  font-size: 12px;
  margin-top: 1em;
}

.post h1, .post h2, .post h3 {
  font-size: 18px;
  font-weight: normal;
  color: #1a0dab;
  line-height: 1;
}
.post h1 a, .post h2 a, .post h3 a {
  font-size: 18px;
  color: #1a0dab;
  font-weight: normal;
  line-height: 1;
}
.post time {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #006621;
  line-height: 1;
}
.post ul.tags {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-column-gap: 10px;
  column-gap: 10px;
  font-size: 14px;
  color: #006621;
  line-height: 1;
}

.post-list {
  display: block;
}
.post-list nav.page ul {
  list-style-type: none;
  padding: 0;
}
.post-list nav.page ul li {
  float: left;
  margin-top: 5px;
  margin-right: 40px;
}
.post-list nav.page ul li a {
  color: #4285f4;
  font-size: 20px;
}
.post-list nav.page ul li a.disable {
  color: #000;
  pointer-events: none;
}
.post-list .post {
  margin-bottom: 50px;
}

@media (min-width: 767px) {
  .post-list {
    display: grid;
    grid-template-rows: repeat(5, 1fr) auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    column-gap: 40px;
  }
  .post-list nav.page {
    grid-row: 6;
    grid-column: 1/-1;
  }
}
/* 記事やコメント欄、プレビューエリアの汎用的な設定 */
.markdown-body h2 {
  font-size: 30px;
  font-weight: 200;
  margin: 100px 0 0 -30px;
  padding-left: 25px;
  border-left: solid 1px #000;
}
.markdown-body h3 {
  font-size: 20px;
  font-weight: 200;
  margin: 50px 0 0 0;
  padding-left: 20px;
  border-left: solid 1px #000;
}
.markdown-body h2 + *, .markdown-body h3 + * {
  margin-top: 5px;
}
.markdown-body p {
  font-size: 16px;
  margin-top: 20px;
  line-height: 2;
}
.markdown-body ul li, .markdown-body ol li {
  margin-top: 10px;
}
.markdown-body ul li p, .markdown-body ol li p {
  font-size: 14px;
}
.markdown-body ul li p:first-child, .markdown-body ol li p:first-child {
  color: #1a0dab;
}
.markdown-body blockquote {
  position: relative;
  margin: 2em 0;
  padding: 1em 1em 1em 2.6em;
  font-size: 0.9em;
  border-left: 5px solid #CCC;
  border-radius: 2px;
}
.markdown-body blockquote::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "”";
  font-family: sans-serif;
  font-size: 6em;
  opacity: 0.1;
}
.markdown-body a {
  color: #0000FF;
}
.markdown-body a:hover {
  color: #00B233;
}

div.field {
  margin-bottom: 20px;
  font-size: 12px;
}
div.field span.helptext::before {
  content: "※";
}
div.field input[type=text], div.field input[type=email], div.field input[type=number],
div.field select, div.field textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: solid 1px #dbdbdb;
  font-size: 12px;
  background-color: #fff;
}
div.field button[type=submit], div.field button[type=button], div.field a.button {
  -webkit-appearance: none;
  padding: 10px;
  border-radius: 4px;
  border: solid 1px #dbdbdb;
  font-size: 12px;
  background-color: #fff;
  width: 100%;
  /* a要素用の設定 */
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  /* button要素用の設定 */
  cursor: pointer;
}
div.field ul.dropdown {
  display: none;
  list-style-type: none;
  padding: 5px;
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
}
div.field ul.dropdown li {
  margin: 3px;
  cursor: pointer;
}
div.field ul.dropdown li:hover {
  background-color: #dddddd;
}

body::before {
  content: "";
  grid-row: top-bar;
  grid-column: 1/-1;
  background-color: #1a0dab;
}

body::after {
  content: "";
  grid-row: bottom-bar;
  grid-column: 1/-1;
  background-color: #1a0dab;
}

body {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-template-rows: [top-bar] 10px [head] auto [main] 1fr [ads] auto [relation-posts] auto [comment] auto [foot] auto [bottom-bar] 10px;
  grid-row-gap: 40px;
  row-gap: 40px;
}
body header {
  grid-column: 2;
  grid-row: head;
  justify-self: center;
  align-self: center;
}
body .page-btn, body .page-btn-close {
  grid-column: 2;
  grid-row: head;
  justify-self: start;
  align-self: center;
  position: sticky;
  top: 0;
}
body nav#toc {
  display: none;
  grid-column: 2;
  grid-row: head;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
body nav#toc ul {
  list-style-type: none;
}
body article#main {
  grid-row: main;
  grid-column: 2;
}
body aside h2 {
  grid-column: 1/-1;
  margin-bottom: 10px;
  font-family: "Abril Fatface", cursive;
  font-weight: bold;
  color: #1a0dab;
  align-self: end;
}
body aside#ads {
  grid-column: 2;
  grid-row: ads;
}
body aside#relation-posts {
  grid-column: 2;
  grid-row: relation-posts;
}
body aside#comment {
  grid-column: 2;
  grid-row: comment;
}
body aside#comment p {
  margin-bottom: 20px;
}
body aside#comment .box {
  margin-top: 30px;
}
body aside#comment a {
  color: #0000FF;
}
body aside#comment a:hover {
  color: #00B233;
}
body footer {
  grid-column: 2;
  grid-row: foot;
}

body.open > nav#toc {
  display: block;
}

@media (min-width: 1366px) {
  body {
    grid-template-columns: 366px 100px 900px auto;
  }
  body header {
    grid-column: 1;
    grid-row: head;
  }
  body nav#toc {
    display: block;
    grid-row: main;
    grid-column: 1;
    position: static;
  }
  body nav#toc > ul {
    position: sticky;
    top: 50px;
    font-size: 12px;
  }
  body article#main {
    grid-column: 3;
    grid-row: head/ads;
  }
  body aside#relation-posts {
    grid-column: 3;
    grid-row: relation-posts;
  }
  body aside#ads {
    grid-column: 3;
    grid-row: ads;
  }
  body aside#comment {
    grid-column: 3;
    grid-row: comment;
  }
  body footer {
    grid-column: 1;
    grid-row: foot;
  }
}

/*# sourceMappingURL=post_detail.css.map */
