@charset "UTF-8";
/* 共通設定 */
* {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  background-color: #fff100;
  font-weight: bold;
}

a {
  color: #0000FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre, code {
  line-height: 1.5;
  white-space: pre-wrap;
}

body {
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* テキストの自動拡大を無効 */
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
  color: #333;
}

/* お知らせ欄 */
#notify {
  opacity: 0;
  background-color: #333;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #ffffff;
  -webkit-animation: fade-in-out 7s linear;
}

.fade-in {
  -webkit-animation: fade-in 1s linear;
}

@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ボックス Bulmaのboxと同じ */
.box {
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  padding: 1.25rem;
}

/* タグ */
.tag {
  padding: 2px 2px;
  border: solid 1px #ddd;
  background-color: transparent;
  font-size: 10px;
  margin: 1px 5px 5px 0;
  display: inline-block;
}

/* タグの×閉じ部分 */
.close {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  position: relative;
  vertical-align: middle;
  width: 20px;
}

.close::before, .close::after {
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  background-color: #333;
}

.close::before {
  height: 2px;
  width: 50%;
}

.close::after {
  height: 50%;
  width: 2px;
}

.post {
  margin-bottom: 50px;
}
.post h1, .post h2, .post h3 {
  font-size: 16px;
  font-weight: normal;
  color: #333;
  border-bottom: solid 1px #ebebeb;
  padding-bottom: 10px;
}
.post h1 a, .post h2 a, .post h3 a {
  font-size: 16px;
  font-weight: normal;
  color: #333;
}
.post header {
  font-size: 12px;
  color: #333;
}
.post header span {
  margin-right: 5px;
}

@media (min-width: 767px) {
  .post-list {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 1fr;
  }
  .post-list .post {
    margin-bottom: 0;
  }
}
nav#site-nav ul {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
}
nav#site-nav ul a {
  font-size: 12px;
  color: #333;
}

#page-btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: transparent;
}

#page-btn-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 2px;
  margin: -1px 0 0 -7px;
  background: #333;
  transition: 0.2s;
}

#page-btn-icon:before, #page-btn-icon:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 15px;
  height: 2px;
  background: #333;
  transition: 0.3s;
}

#page-btn-icon:before {
  margin-top: -8px;
}

#page-btn-icon:after {
  margin-top: 6px;
}

body.open #page-btn-icon {
  background: transparent;
}
body.open #page-btn-icon:before, body.open #page-btn-icon:after {
  margin-top: 0;
}
body.open #page-btn-icon:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
body.open #page-btn-icon:after {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

@media (min-width: 1366px) {
  #page-btn {
    display: none;
  }
}
/* フッター */
body > footer {
  font-size: 12px;
  color: #333;
}
body > footer a {
  color: #333;
}

div.field {
  margin-bottom: 20px;
  font-size: 12px;
}
div.field span.helptext::before {
  content: "※";
}
div.field input[type=text], div.field input[type=email], div.field input[type=number],
div.field select, div.field textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: solid 1px #ebebeb;
  font-size: 12px;
  background-color: #fff;
}
div.field button[type=submit], div.field button[type=button], div.field a.button {
  -webkit-appearance: none;
  padding: 10px;
  border-radius: 4px;
  border: solid 1px #ebebeb;
  font-size: 12px;
  background-color: #fff;
  width: 100%;
  /* a要素用の設定 */
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  /* button要素用の設定 */
  cursor: pointer;
}
div.field ul.dropdown {
  display: none;
  list-style-type: none;
  padding: 5px;
  position: absolute;
  z-index: 1;
  background-color: #fff;
}
div.field ul.dropdown li {
  margin: 3px;
  cursor: pointer;
}
div.field ul.dropdown li:hover {
  background-color: #fff100;
}

body {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-template-rows: [head] 40px [main] 1fr [foot] 40px;
  row-gap: 20px;
  grid-row-gap: 20px;
  min-height: 100vh;
}
body nav#site-nav {
  grid-column: 2;
  grid-row: head;
  align-self: center;
  justify-self: start;
}
body ul#sns {
  grid-column: 2;
  grid-row: head;
  align-self: center;
  justify-self: end;
}
body #page-btn {
  grid-column: 1;
  grid-row: head;
  justify-self: start;
  align-self: center;
  position: sticky;
  top: 0;
}
body .side {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50%;
  background-color: rgba(255, 255, 255, 0.9);
}
body hr#side-bar {
  border: none;
}
body .main {
  grid-column: 2;
  grid-row: main;
}
body footer {
  grid-column: 2;
  grid-row: foot;
  align-self: center;
}
body ul#out-link {
  grid-column: 2;
  grid-row: foot;
  align-self: center;
  justify-self: end;
}

body.open > .side {
  display: block;
}

body::before {
  content: "";
  grid-row: head;
  grid-column: 1/-1;
  z-index: -1;
  border-bottom: solid 1px #ebebeb;
}

body::after {
  content: "";
  grid-row: foot;
  grid-column: 1/-1;
  border-top: solid 1px #ebebeb;
  z-index: -1;
}

@media (min-width: 1366px) {
  body {
    grid-template-columns: [start] 0 [start-side] 40px [side] 246px [side-main] 40px [main] 1000px [other] 1fr [other-end] 40px [end] 0;
  }
  body nav#site-nav {
    grid-column: side/end;
    grid-row: head;
    align-self: center;
  }
  body ul#sns {
    grid-column: other;
    grid-row: head;
    align-self: center;
    justify-self: end;
  }
  body .side {
    display: block;
    grid-column: side;
    grid-row: main;
    position: static;
    transform: none;
    width: auto;
  }
  body hr#side-bar {
    grid-row: main/-2;
    grid-column: side-main;
    border: none;
    border-right: solid 1px #ebebeb;
    margin-right: 20px;
    margin-top: -20px;
    margin-bottom: -20px;
  }
  body .main {
    grid-column: main;
    grid-row: main;
  }
  body footer {
    grid-column: side/end;
    align-self: center;
  }
}
/* SNSアイコン */
.fa-hatena:before {
  content: "B!";
  font-family: Verdana;
  font-weight: bold;
}

ul#sns {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
}
ul#sns a {
  font-size: 16px;
  color: #333;
}

nav.page ul {
  list-style-type: none;
  padding: 0;
}
nav.page ul li {
  float: left;
  margin-top: 5px;
  margin-right: 40px;
}
nav.page ul li a {
  color: #333;
  font-size: 12px;
}
nav.page ul li a.disable {
  color: #aaa;
  pointer-events: none;
}

body {
  grid-template-rows: [head] 40px [main] 1fr [page] auto [foot] 40px;
}
body nav.page {
  grid-column: 2;
  grid-row: page;
}

@media (min-width: 1366px) {
  body nav.page {
    grid-column: main;
  }
}

/*# sourceMappingURL=post_list.css.map */
