@import "base";
@import "header";
@import "nav-btn";
@import "footer";
@import "article-list";
@import "markdown";
@import "form";

body::before {
  content: '';
  grid-row: top-bar;
  grid-column: 1 / -1;
  background-color: $main-color;
}

body::after {
  content: '';
  grid-row: bottom-bar;
  grid-column: 1 / -1;
  background-color: $main-color;
}

body {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-template-rows: [top-bar] 10px [head] auto [main] 1fr [ads] auto [relation-posts] auto [comment] auto [foot] auto [bottom-bar] 10px;
  grid-row-gap: 40px;
  row-gap: 40px;

  header {
    grid-column: 2;
    grid-row: head;
    justify-self: center;
    align-self: center;
  }

  .page-btn, .page-btn-close {
    grid-column: 2;
    grid-row: head;
    justify-self: start;
    align-self: center;
    position: sticky;
    top: 0;
  }

  nav#toc {
    display: none;
    grid-column: 2;
    grid-row: head;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);

    ul {
      list-style-type: none;
    }
  }

  article#main {
    grid-row: main;
    grid-column: 2;
  }

  aside {
    h2 {
      grid-column: 1/-1;
      margin-bottom: 10px;
      font-family: "Abril Fatface", cursive;
      font-weight: bold;
      color: $main-color;
      align-self: end;
    }
  }

  aside#ads {
    grid-column: 2;
    grid-row: ads;
  }

  aside#relation-posts {
    grid-column: 2;
    grid-row: relation-posts;

  }

  aside#comment {
    grid-column: 2;
    grid-row: comment;
  }


  aside#comment {
    p {
      margin-bottom: 20px;
    }

    .box {
      margin-top: 30px;
    }

    a {
      color: #0000FF;
    }

    a:hover {
      color: #00B233;
    }
  }

  footer {
    grid-column: 2;
    grid-row: foot;
  }

}

body.open > nav#toc {
  display: block;
}


@media (min-width: $pc) {
  body {
    grid-template-columns: 366px 100px 900px auto;

    header {
      grid-column: 1;
      grid-row: head;
    }

    nav#toc {
      display: block;
      grid-row: main;
      grid-column: 1;
      position: static;
    }

    nav#toc > ul {
      position: sticky;
      top: 50px;
      font-size: 12px;
    }

    article#main {
      grid-column: 3;
      grid-row: head / ads;
    }

    aside#relation-posts {
      grid-column: 3;
      grid-row: relation-posts;
    }

    aside#ads {
      grid-column: 3;
      grid-row: ads;
    }

    aside#comment {
      grid-column: 3;
      grid-row: comment;
    }

    footer {
      grid-column: 1;
      grid-row: foot;
    }
  }

}

