@import "base";
@import "article-list";
@import "site-nav";
@import "nav-btn";
@import "footer";
@import "form";
@import "markdown";
@import "base_layout";
@import "sns";


body.preview .main {
  display: none;
}

body.preview .markdownx-preview {
  display: block;
}

body {
  .side {
    #change-display {
      position: sticky;
      top: 100px;
    }
  }

  .markdownx-preview {
    display: none;
    grid-column: 2;
    grid-row: main;
  }

}

@media (min-width: $pc) {
  body {
    .markdownx-preview {
      grid-column: main;
      grid-row: main;
    }

  }

}
