@charset "UTF-8";


main {

}

#side {
    display: none;
    grid-column: 1;
    grid-row: 2;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
}

body.open #side {
    display: block;
}

.button {
    color: #ffffff;
    border: solid 1px #ffffff;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: rgba(85, 93, 107, 0.5);
    width: 300px;
    box-sizing: border-box;

    /* a要素用の設定 */
    display: inline-block;
    text-decoration: none;
    text-align: center;

    /* button要素用の設定 */
    cursor: pointer;
}

.button:hover {
    background-color: #ef9504;
    text-decoration: none;
}

#change-display {
    position: sticky;
    top: 100px;
}

.markdownx-preview {
    display: none;
}

body.preview form{
    display: none;
}

body.preview .markdownx-preview {
    display: block;
}

/* 1000px以上 */
@media (min-width: 1000px) {

}

@media (min-width: 1366px) {
    #side {
        width: 300px;
        margin: 0 auto;
        display: block;
    }
}
