@charset "UTF-8";

/* 検索フォーム */
aside#search {
    display: none;
    grid-column: 1;
    grid-row: 2;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
}

aside#search > form{
    width: 300px;
    margin: 0 auto
}

body.open > aside#search {
    display: block;
}


/* ========== 画面の横幅1366px以上 ========= */
@media (min-width: 1366px) {
    /* 検索フォーム */
    aside#search {
        display: block;
    }
}