@charset "UTF-8";

/* メインコンテンツの設定 */
main {
    display: grid;
    grid-template-rows: repeat(5, 1fr) auto;
    grid-template-columns: 1fr 1fr;
}

div.tag-list {
    font-size: 12px;
    width: 300px;
    margin: 0 auto;
}

/* ページネーション */
nav.page {
    grid-row: 6;
    grid-column: 1 / -1;
    font-family: 'Raleway', sans-serif;
}

nav.page > ul {
    list-style-type: none;
    padding: 0;

}

nav.page li {
    float: left;
    margin-top: 5px;
    margin-right: 40px;
}

nav.page > ul > li > span {
    display: block;
    font-size: 12px;
    background-color: #dddddd;
    padding: 3px 6px;
}

nav.page > ul > li > a {
    display: block;
    font-size: 12px;
    padding: 3px 6px;
}

/* 検索フォーム */
aside#search {
    display: none;
    grid-column: 1;
    grid-row: 2;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
}

aside#search > form{
    width: 300px;
    margin: 0 auto
}

body.open > aside#search {
    display: block;
}


/* 767px以下、スマートフォンサイズ */
@media (max-width: 767px) {
    main {
        display: block;
    }

    main > article {
        margin-bottom: 40px;
    }
}


/* ========== 画面の横幅1366px以上 ========= */
@media (min-width: 1366px) {
    /* 検索フォーム */
    aside#search {
        display: block;
    }
}