{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <meta name="keywords" content="{% block keywords %}Python,Django,プログラミング,ブログ{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">
    <title>{% block title %}Narito Blog{% endblock %}</title>

    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    {% block extra_css %}{% endblock %}
</head>
<body>
{% if messages %}
    <div id="notify">
        {% for message in messages %}
            <p> {{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

<header>
    <a href="{% url 'blog:top' %}">Narito Blog</a>
</header>

{% block content %}{% endblock %}

{% block side %}{% endblock %}

<button type="button" class="page-btn">
    <span class="fas fa-bars" title="メニューを開く"></span>
</button>

<button type="button" class="page-btn-close">
    <span class="fas fa-times" title="メニューを閉じる"></span>
</button>

<footer>
    <ul>
        <li>
            <a href="/">Profile</a>
        </li>
        <li>
            <a href="https://torina.top" target="_blank">Old Blog</a>
        </li>
        <li>
            <a href="https://twitter.com/toritoritorina/" target="_blank" rel="nofollow">Twitter</a>
        </li>
        <li>
            <a href="https://github.com/naritotakizawa/" target="_blank" rel="nofollow">Github</a>
        </li>
        <li>
            <a href="mailto:toritoritorina@gmail.com">Email</a>
        </li>
    </ul>
    <p>© Narito Takizawa.</p>
</footer>

<script>
    // ナビゲーションの開閉
    for (const element of document.querySelectorAll('.page-btn, .page-btn-close')) {
        element.addEventListener('click', e => {
            document.body.classList.toggle('open');
        });
    }

</script>
{{ search_form.media }}
{% block extra_js %}{% endblock %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-72333380-3"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-72333380-3');
</script>

</body>
</html>