{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <meta name="keywords" content="{% block keywords %}Python,Django,プログラミング,ブログ{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">
    <title>{% block title %}Narito Blog{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% block extra_css %}{% endblock %}
</head>
<body>
{% if messages %}
    <div id="notify">
        {% for message in messages %}
            <p> {{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

<nav id="site-nav">
    <ul>
        <li><a href="{% url 'blog:top' %}">ホーム</a></li>
        <li><a href="{% url 'blog:subscribe' %}">購読</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'blog:private_post_list' %}">非公開</a></li>
            <li><a href="{% url 'blog:post_add' %}">追加</a></li>
        {% endif %}
    </ul>
</nav>

{% block sns_link %}
<ul id="sns">
    <li>
        <a href="https://twitter.com/share?url={{ request.scheme }}://{{ request.get_host }}{% url 'blog:top' %}&text=Narito Blog" target="_blank" rel="nofollow" title="Twitterでシェア"><i class="fab fa-twitter-square"></i></a>
    </li>
    <li>
       <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}{% url 'blog:top' %}" target="_blank" rel="nofollow" title="Facebookでシェア"><i class="fab fa-facebook-square"></i></a>
    </li>
    <li>
        <a href="http://b.hatena.ne.jp/entry/{{ request.scheme }}://{{ request.get_host }}{% url 'blog:top' %}" target="_blank" rel="nofollow" title="はてブでシェア"><i class="fa fa-hatena"></i></a>
    </li>
</ul>
{% endblock %}

{% block content %}{% endblock %}

{% block side %}{% endblock %}

<button id="page-btn"><span id="page-btn-icon"></span></button>

<footer><a href="/" title="Profile">© Narito Takizawa.</a> &lt;toritoritorina@gmail.com&gt;</footer>

<script>
    // ナビゲーションの開閉
    document.getElementById('page-btn').addEventListener('click', e => {
        document.body.classList.toggle('open');
    });

</script>
{{ search_form.media }}
{% block extra_js %}{% endblock %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-72333380-3"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-72333380-3');
</script>

</body>
</html>