{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <meta name="keywords" content="{% block keywords %}Python,Django,プログラミング,ブログ{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">
    <title>{% block title %}Narito Blog{% endblock %}</title>
    {% block extra_css %}{% endblock %}
</head>
<body>
{% if messages %}
    <div id="notify">
        {% for message in messages %}
            <p> {{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

<header>
    <a href="{% url 'blog:top' %}">Narito Blog</a>
</header>

{% block content %}{% endblock %}

{% block side %}{% endblock %}

<button id="page-btn"><span id="page-btn-icon"></span></button>

<footer>
    <ul>
        <li>
            <a href="/">Profile</a>
        </li>
        <li>
            <a href="https://torina.top" target="_blank">Old Blog</a>
        </li>
        <li>
            <a href="https://twitter.com/toritoritorina/" target="_blank" rel="nofollow">Twitter</a>
        </li>
        <li>
            <a href="https://github.com/naritotakizawa/" target="_blank" rel="nofollow">Github</a>
        </li>
        <li>
            <a href="mailto:toritoritorina@gmail.com">Email</a>
        </li>
    </ul>
    <p>© Narito Takizawa.</p>
</footer>

<script>
    // ナビゲーションの開閉
    document.getElementById('page-btn').addEventListener('click', e => {
        document.body.classList.toggle('open');
    });

</script>
{{ search_form.media }}
{% block extra_js %}{% endblock %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-72333380-3"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-72333380-3');
</script>

</body>
</html>