{% extends 'blog/base.html' %}
{% load blog %}
{% load static %}
{% block description %}Python/Djangoを中心に、プログラミングのメモや備忘録、チュートリアルを書いています。{% endblock %}
{% block title %}{{ block.super }} - プログラミングのメモや備忘録、チュートリアル{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/post_list.css' %}">{% endblock %}

{% block side %}
    <aside id="search" class="side">
        <form action="{% url 'blog:top' %}" method="get" role="search" id="api-posts" class="inner">
            {% for field in search_form %}
                <div class="field">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}

            <div class="field">
                <button type="submit">送信</button>
            </div>
        </form>
    </aside>
{% endblock %}

{% block content %}
    <section class="post-list main">
        {% for post in post_list %}
            <article class="post">
                <h2><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></h2>
                <ul class="tags">
                    {% for tag in post.tags.all %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
                <time datetime="{{ post.updated_at | date:'Y-m-d' }}">updated
                    at {% by_the_time post.updated_at %}</time>
            </article>
        {% endfor %}
        <nav class="page">
            <ul>
                <!-- 数字の部分 -->
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li><a href="?{%  url_replace request 'page' num %}" class="disable" data-url="{% url 'blog:api_posts' %}?{%  url_replace request 'page' num %}">{{ num }}</a></li>
                    {% else %}
                        <li><a href="?{%  url_replace request 'page' num %}"  data-url="{% url 'blog:api_posts' %}?{%  url_replace request 'page' num %}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </section>
{% endblock %}

{% block extra_js %}
    <script>
        // 検索フォーム
        const form = document.getElementById('api-posts');

        // ページネーション部分
        const pageLinks = document.querySelectorAll('nav.page a');

        const createPageLink = (param, max_page) => {
            /**
             * ページネーション部分を作成する。
             */
            const ul = document.querySelector('nav.page > ul');
            ul.innerHTML = '';

            // 「1」の部分を作成
            const li = document.createElement('li');
            const a = document.createElement('a');
            a.textContent = '1';
            a.href = `{% url 'blog:top' %}${param}&page=1`;
            a.classList.add('disable');
            a.dataset.url = `{% url 'blog:api_posts' %}${param}&page=1`;
            a.addEventListener('click', clickLink);
            li.appendChild(a);
            ul.appendChild(li);

            // 2以降を作成
            for(let i = 2; i <= max_page; i++) {
                const li = document.createElement('li');
                const a = document.createElement('a');
                a.textContent = `${i}`;
                a.href = `{% url 'blog:top' %}${param}&page=${i}`;
                a.dataset.url = `{% url 'blog:api_posts' %}${param}&page=${i}`;
                a.addEventListener('click', clickLink);
                li.appendChild(a);
                ul.appendChild(li);
            }
        };

        const setPostList = postList => {
            /**
             * 記事の一覧部分を作成する。
             */
            const postContainer = document.querySelector('section.post-list');
            const nav = document.querySelector('nav.page');
            for (const article of postContainer.querySelectorAll('article.post')) {
                postContainer.removeChild(article);
            }

            for (const post of postList) {
                const article = document.createElement('article');
                article.classList.add('post', 'fade-in');

                const h2 = document.createElement('h2');
                const a = document.createElement('a');
                a.href = `/blog/detail/${post.pk}/`;
                a.textContent = `${ post.title }`;
                h2.appendChild(a);

                const ul = document.createElement('ul');
                ul.classList.add('tags');
                for (const tag of post.tags) {
                    const li = document.createElement('li');
                    li.textContent = `${tag}`;
                    ul.appendChild(li);
                }

                const time = document.createElement('time');
                time.dateTime = `${post.updated_at}`;
                time.textContent = `updated at ${post.updated_display}`;

                article.appendChild(h2);
                article.appendChild(ul);
                article.appendChild(time);
                postContainer.insertBefore(article, nav);
            }
        };

        form.addEventListener('submit', e => {
            /**
             *  検索ボタンを押した際に呼ばれる。
             */
            // デフォルトのイベントをキャンセルし、ページ遷移しないように!
            e.preventDefault();

            const key_word = encodeURIComponent(document.getElementById('id_key_word').value);
            const search_kind = document.getElementById('id_search_kind').value;
            const search_tags = document.getElementsByName('search_tags');
            let param = `?key_word=${key_word}&search_kind=${search_kind}`;
            for (const tag of search_tags) {
                param += `&search_tags=${tag.value}`
            }

            // 検索結果の記事の一覧を取得する
            fetch(`{% url 'blog:api_posts' %}${param}`)
                .then(response => {
                    return response.json();
                })
                .then(response => {
                    // 一番上までスクロールさせる
                    scrollTo(0, 0);

                    // ページネーション部分の作成
                    createPageLink(param, response.max_page);

                    // 記事の一覧部分作成
                    setPostList(response.post_list);

                    // ブラウザのURLバーを置き換え
                    history.replaceState('', '', `{% url 'blog:top' %}${param}`);

                }).catch(error => {
                    console.log(error);
            });
        });

        const clickLink = e => {
            /**
             * リンクをクリックされた際に呼ばれる。
             */
            // デフォルトのイベントをキャンセルし、ページ遷移しないように!
            e.preventDefault();

            // 次ページの記事一覧を取得する。
            fetch(e.target.dataset.url)
                .then(response => {
                    return response.json();
                })
                .then(response => {
                    // 一番上までスクロールさせる
                    scrollTo(0, 0);

                    // 現在のページリンクをアクティブに。
                    const currentLink = document.querySelector('nav.page a.disable');
                    currentLink.classList.remove('disable');

                    // 押されたページリンクを非アクティブに。
                    e.target.classList.add('disable');

                    // 記事一覧部分の作成
                    setPostList(response.post_list);

                    // ブラウザのURLバーを置き換え
                    history.replaceState('', '', e.target.href);

                }).catch(error => {
                    console.log(error);
            });
        };

        const initLinkEvent = () => {
            /**
             * ページリンククリックでclickLinkを呼ぶように設定する。
             */
            for (const link of document.querySelectorAll('nav.page a')) {
                link.addEventListener('click', clickLink);
            }
        };

        // 初回のイベント設定。
        initLinkEvent();

    </script>
{% endblock %}