{% extends 'blog/base.html' %}
{% load static %}

{% block side %}
    <div class="side">
        {% if post %}
            <div class="field">
                <button type="button" id="delete">削除</button>
            </div>

            <form action="{% url 'blog:post_delete' post.pk %}" method="POST" style="display: none" id="delete-form">
                {% csrf_token %}
            </form>
            <div class="field">
                <a class="button" href="{% url 'blog:post_detail' post.pk %}">記事詳細画面へ</a>
            </div>
        {% endif %}
        <div class="field" id="change-display">
            <button  type="button">プレビュー画面⇔編集画面</button>
        </div>
    </div>
{% endblock %}

{% block content %}
    <form action="" method="POST" class="main">
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="field">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <span class="helptext">{{ field.help_text }}</span>
                {% endif %}
                {{ field.errors }}
            </div>
        {% endfor %}
        {% csrf_token %}

        <div class="field">
            <button type="submit" class="button">送信</button>
        </div>

    </form>

    <div class="markdownx-preview markdown-body"></div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/post_form.css' %}">
    <!-- コードシンタックス、css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/dracula.min.css">
{% endblock %}

{% block extra_js %}
    {{ form.media }}
    <!-- コードシンタックス、js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        const elements = document.getElementsByClassName('markdownx');
        for (element of elements) {
            element.addEventListener('markdownx.update', event => {
                for (const block of document.querySelectorAll('pre code')) {
                    hljs.highlightBlock(block);
                }
            });
        }

        document.getElementById('delete').addEventListener('click', e => {
            swal({
                title: "確認",
                text: "削除してよろしいですか？",
                icon: "warning",
                buttons: "Yes, delete it!",
            })
                .then(isConfirm => {
                    if (isConfirm) document.getElementById('delete-form').submit();
                });
        });

        // プレビューと編集画面の切り替え
        document.getElementById('change-display').addEventListener('click', e => {
            document.body.classList.toggle('preview');
        });
    </script>
{% endblock %}